node_modules/
out/
dist/
release/
test/config.json
.data/
*.log

/.idea/
# web-embedded 生成物
**/web-embedded.json
**/package-lock.json
**/eng.traineddata
/.data/
/bundles/*.*/data/
**/temp/
taskManager/.npmrc
/resources/jm-api/JMComic3v2.0.25/
/resources/jm-api/JMComic3v2.0.25.apk
/packages/core/config.json
